html
    font-size 62.5%

html,
body
    height 100%

body
    min-width 320px
    font-family 'Roboto', sans-serif
    line-height 24px
    font-size 16px
    font-weight 400
    color $dark
    background url(../img/first-section-bg@2x.jpg) no-repeat center

header,
aside,
section,
footer
    display block

/*placeholder styles*/
::-webkit-input-placeholder
    color $dark

::-moz-placeholder
    color $dark

:-moz-placeholder
    color $dark

:-ms-input-placeholder
    color $dark

:focus::-webkit-input-placeholder
    color transparent

:focus::-moz-placeholder
    color transparent

:focus:-moz-placeholder
    color transparent

:focus:-ms-input-placeholder
    color transparent


.wrapper
    width 100%
    min-height 100vh
    display flex
    flex-direction column
    justify-content space-between